In [1]:
### 1
print("Twinkle, twinkle little star,""\n""\t""How I wonder what you are!""\n""\t""\t""Up above the wonder so high,")
print("\t""\t""Like the diamond in the sky,""\n""Twinkle, twinle little star,""\n""\t""how I wonder what you are")

Twinkle, twinkle little star,
	How I wonder what you are!
		Up above the wonder so high,
		Like the diamond in the sky,
Twinkle, twinle little star,
	how I wonder what you are

In [2]:
##### 2
import sys
print("python version")
print(sys.version)
print("version info")
print(sys.version_info)

python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
version info
sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

In [3]:
#### 3
from datetime import datetime
date=datetime.now()
print(date.strftime("%Y-%m-%d %H:%M:%S"))

2021-10-24 13:18:18

In [4]:
#### 4
import math
r=int(input("enter any value:"))
area=math.pi*(r**2)
print("area of the circle is",area)

enter any value:5
area of the circle is 78.53981633974483

In [5]:
##### 5
fn=input("enter first name:")
ln=input("enter last name:")
print(ln,fn)

enter first name:subhan
enter last name:ahmed
ahmed subhan

In [6]:
###### 7
english=int(input("enter english marks"))
maths=int(input("enter maths marks"))
physics=int(input("enter physics marks"))
chemistry=int(input("enter chemistry marks"))
urdu=int(input("enter urdu marks"))
total=500;
percentage=((english+maths+physics+chemistry+urdu)/total)*100
print(percentage)
if (percentage>100):
    print("you make a mistake in inputs")
elif percentage < 100 and percentage >= 80:
    print("Grade-Aone")
elif percentage < 80 and percentage >= 70:
    print("Grade-A")
elif percentage < 70 and percentage >= 60:
    print("Grade-B")
elif percentage < 60 and percentage >= 50:
    print("Grade-C")
elif percentage < 50 and percentage >= 40:
    print("Grade-D")
elif percentage < 40 and percentage >= 33:
    print("Grade-E")
elif percentage < 33 :
    print("Fail")

enter english marks77
enter maths marks72
enter physics marks73
enter chemistry marks82
enter urdu marks79
76.6
Grade-A

In [7]:
####6
first=input("enter first value:")
second=input("enter second value:")
print(first+second)

enter first value:subhanahmed
enter second value:53
subhanahmed53

In [9]:
#### 8
n=int(input("enter any no:"))
if n%2==0:
    print("its even value")
else:
    print("its odd value")

enter any no:77
its odd value

In [16]:
##### 9
list=[5,4,17,18,8,90,"subhan","ahmed"]
print(len(list))

8

In [10]:
##### 10
list=[29,31,9,17,81,92,48]
sum=sum(list)
print("sum of the list is",sum)

sum of the list is 307

In [1]:
##### 11 
list=[9,19,82,55,89,17,17]
n=len(list)
list.sort()
print("largest no of the list is",list[n-1])

largest no of the list is 89

In [5]:
#### 12
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b=[]
for i in a:
    if i<5:
        b.append(i)
print(b)

[1, 1, 2, 3]